<h1 class="main-title"><%= @user.name %></h1>
<div>
  <%= image_tag user_avatar(@user), alt: 'Фото' %>
</div>
<h2 class="medium-title">@<%= @user.username %></h2>

<a href="#" class="button">Задать вопрос</a>
